.element {
    margin: 0 auto;
    width: max-content;
    height: max-content;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    margin-top: 70px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.form__labelText {
width: 100px;
display: inline-block;
margin-right: 5px;
}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 50px;
    width: 100%;
    border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
}

.form__button {
    width: 100%;
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: rgba(0, 128, 128, 0.623);

}

.form__button:active {
    background-color: rgba(0, 128, 128, 0.788);
}

.form__result {
    color: teal;
    font-weight: 900;
}